body{
    overflow: hidden!important;
}

.window{
    width: 100%;
    padding: 5px;
}
.all-courses{
    padding-bottom: 3px;
}
.main-button{
    border-color: rgb(222, 46, 7);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    width: 100%;

}
.button-size{
    width: 100%;
    padding-bottom: 3px;
    position: relative;
    display: table;
}

.left-button{
    border-radius: 10px 0px 0px 10px;
    border-color: rgb(222, 46, 7);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    width:50%;
    float:left;
}

.right-button{
    border-radius: 0px 10px 10px 0px;
    border-color: rgb(222, 46, 7);
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    width: 50%;
    float:right;
}

.search-bar{
    width: 100%;
    padding-bottom: 2px;
}

.search{
    border-radius: 10px 10px 10px 10px;
    height: calc(1.4vh * 4);
    min-height: 21px;
    width: 100%;
}

input[type="search"] {
    font-family: FontAwesome;
    background:#f1f1f1;
    border:1px solid #ccc;
}

.course-container{
    width: 100%;
    height: auto;
    padding-top: 15px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    overflow: auto;
}

.course{
    width: 100%;
    display: flex;
    padding: 17px 25px 17px 25px;
}

.course-contents{
    max-height: 100vh;
    width: calc(100% - calc(1vh * 13));
    padding-left: 20px;
}
h1{
    font-size: 24px!important;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 30px;
    padding-top: 2px;
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 106, 57);
    border-radius: 10px;
}


@media (max-width: 800px) {
    h1{
        font-size: 20px!important;
    }
    p{
        font-size:  14px;
    }

}

#app{
  margin: 0!important;
  text-align: left!important;
}



svg {
    width: 100%;
    display: block;
}

.wrapper {
    position: relative;
    height: calc(1vh * 13)!important;
    width: calc(1vh * 13)!important;
}

.wrapper > .bar, .wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper > img {
    border-radius: 50%;

}